h1 {
  text-decoration: underline;
  text-align: center;
}

body {
  background: rgb(241, 218, 196);
  font-family: sans-serif;
}
P {
  text-align: center;
}

.image-container {
  display: block;
  text-align: center;
}

ol {
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column img {
  width: 100%;
  max-width: 500px;
  height: auto;
  justify-content: centre;
}